<%= stylesheet_link_tag "index", media: "all" %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheets" href="index.css"/>
     <style>
      #notice {
        display: none; 
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        width: 300px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
        border: 1px solid #ccc;
      }

      #notice.show {
        display: block; 
        animation: fade 1s ease-out forwards;
      }

      @keyframes fade {
        from {
          opacity: 0;
          transform: translate(-50%, -10%);
        }
        to {
          opacity: 1;
          transform: translate(-50%, 0);
        }
      }
      .likes-count {
        color: #ffffff;
        margin-left: 5px;
        font-size: 14px;
        font-weight: bold;

      }
      .likes {
        display: flex;
        align-items: center;
      }
    </style>
    <script>
      const notice = document.querySelector('#notice');

      notice.classList.add('show');
      setTimeout(() => {
        notice.classList.remove('show');
      }, 5000);
    </script>
  </head>
  
  <body>
    <div class="index">

      <div class="menu">

        <div>
          <td class="logo"><%= image_tag 'logo.svg', width:'145px', height:'145px'%></td>
        </div>
        
        <div style="margin: 30px">

          <p id="notice"><%= flash[:notice] %></p>

            <tr>
            
              <div class="menuContainer">
                <div class="account" style="margin: 15px 0"><td><%= link_to (image_tag('person.svg')), user_path(@current_user) %></td></div>
                <div class="notifications" style="margin: 15px 0"><td><%= link_to (image_tag('notifications.svg')) %></td></div>
                <div class="new-post" style="margin: 15px 0"><td><%= link_to (image_tag('add.svg')), new_post_path, method: :get %></td></div>
              </div>

              <div class="questions" style="margin: 15px 0"><td><%= link_to (image_tag('questions.svg')) %></td></div>

              <div class="logout">
                <td><%= link_to (image_tag('logout.svg')), logout_path, data: {turbo_method: :delete} %></td>
              </div>

            </tr>
        </div>
    </div>

    <main>
      <div class="searchBox">
        <div class="search" >
        
          <td>
            <%= form_tag users_path, method: :get do %>
              <td>
                <%= text_field_tag :search, params[:search], placeholder: "  Search..." %>
              </td>
            <% end %>
          </td>
        </div>
      </div>

       <div class="feed"> 
        <ul class="post-list">
          <% @feed_posts.each do |feed_post| %>
            <li id="list" class="post">
              <div class="post-image">
                <%= link_to image_tag(feed_post.image.url, style: 'margin-bottom: 7px, height: 7em') %>
                 <p class="post-comment"><%= feed_post.comment %></p>
              </div>
            
            
              <div class="post-actions">
                <%= link_to post_edit_path(feed_post) do %>
                   <%= image_tag 'edit_icon.svg', width: '44px', height: '42px'%> 
                 <% end %> 
              
              <div class="likes">
                <span class="likes-count"><%= "#{feed_post.likes_count} #{'like'.pluralize(feed_post.likes_count)}" %></span>

                <% if feed_post.liked_by?(@current_user) %>
                  <%= link_to destroy_post_likes_path(feed_post.id), data: {turbo_method: :delete }, class: "like-button" do %>
                    <%= image_tag 'like.svg', width: '44px', height: '42px' %>
                  <% end %>
                <% else %>
                  <%= link_to post_likes_path(feed_post.id), data: {turbo_method: :post }, class: "like-button active" do %>
                    <%= image_tag 'unlike.svg', width: '44px', height: '42px' %>
                  <% end %>
                <% end %>
              </div>
                 <%= link_to (image_tag 'comment_icon.svg', width: '44px', height: '42px'), post_comments_path(feed_post.id), method: :get %> 
              </div> 
            </li>
          <% end %>
        </ul>
      </div>
    </main>
    </div>
  </body>
</html>