<%= stylesheet_link_tag "application", media: "all" %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheets" href="application.css"/>
    <style>
      body {
        background-image: none !important;
        background-color: #626262 !important;
        }

      .profile-section {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        margin-bottom: 300px;
      }

      h1 {    
        text-align: center;
        color: white;
        font-size: 36px;
        margin-bottom: 20px;
      }

      .user_follows ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .user_follows li {
        margin: 10px;
        display: flex;
        color: white;
        font-size: 24px;
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;
      }

      .user_follows img {
        vertical-align: middle;
      }

      .user_follows p {
        font-size: 18px;
        margin-top: 20px;
      }
      .edit-profile {
        background: white;
        height: 50px;
        border-radius: 15px;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
        font-size: 15px;
        padding: 5px 10px;
        font-weight: bold;
      }
      .edit-profile-container{
        border-radius: 5px;
        margin-bottom: 10px;
        margin-left: 250px;
        padding: 10px;
        display: flex;
        align-items: center;
      }
      .user-nickname {
        color: white;
        font-size: 28px;
        padding-right: 20px;
        font-weight: bold;
      }
      .follows-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border: 1px solid #3E3E3E;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        margin: 30px 20px;
      }
      .unfollow {
        margin-left: 50px;
        width: 50px;
        height: 50px;
        border-radius: 40%;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
      }
      .users {
        padding-right: 20px;
      }
      header {
        font-size: 25px;
        color: white;
        text-align: center;
      }
      .account {
        width: 75px;
        height: 75px;
        min-width: 40px;
        border-radius: 40%;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
      }
      .account:hover{
        background: #2e2f30;
      }
      .home {
        width: 75px;
        height: 75px;
        min-width: 40px;
        border-radius: 40%;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
      }
      .home:hover{
        background: #2e2f30;
      }
      .new-post {
        width: 75px;
        height: 75px;
        min-width: 40px;
        border-radius: 40%;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
      }
      .new-post:hover{
        background: #2e2f30;
      }
      .notifications {
        width: 75px;
        height: 75px;
        min-width: 40px;
        border-radius: 40%;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
      }
      .notifications:hover{
        background: #2e2f30;
      }
      .logout {
        width: 75px;
        height: 75px;
        min-width: 40px;
        border-radius: 40%;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
      }
      .logout:hover{
        background: #2e2f30;
      }

      .questions {
        width: 75px;
        height: 75px;
        min-width: 40px;
        border-radius: 40%;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
      }
      .questions:hover{
        background: #2e2f30;
      }
      .menu {
        position: fixed;
        top: -20px;
        left: 0;
        height: 100%;
        padding: 20px;
      }

      .menuContainer {
        border-radius: 40%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 50px 0;
      }
    </style>
  </head>
    
  <body class="profile">

  <div class="profile-section">

    <div class="menu">

      <div style="margin: 30px">

        <tr>
          <div class="menuContainer">
            <div class="home" style="margin: 15px 0"><td><%= link_to (image_tag('https://res.cloudinary.com/dx1gxrz2q/image/upload/v1683035485/home_mdmcd7.svg')), feed_path%></td></div>
            <div class="account" style="margin: 15px 0"><td><%= link_to (image_tag('https://res.cloudinary.com/hzodm3yak/image/upload/v1678982421/person_pl8ytb.svg')), user_path(@current_user) %></td></div>
            <div class="notifications" style="margin: 15px 0"><td><%= link_to (image_tag ('https://res.cloudinary.com/hzodm3yak/image/upload/v1678982420/notifications_lg4g2z.svg')) %></td></div>
            <div class="new-post" style="margin: 15px 0"><td><%= link_to (image_tag ('https://res.cloudinary.com/hzodm3yak/image/upload/v1678982418/add_btzygi.svg')), new_post_path, method: :get %></td></div>
          </div>

          <div class="questions" style="margin: 15px 0"><td><%= link_to (image_tag('https://res.cloudinary.com/hzodm3yak/image/upload/v1678982422/questions_exwzsj.svg')) %></td></div>

          <div class="logout">
            <td><%= link_to (image_tag asset_path('https://res.cloudinary.com/hzodm3yak/image/upload/v1678982420/logout_pjb0fx.svg')), logout_path %></td>
          </div>

        </tr>
      </div>
    </div>

    <h1>Profile</h1>

    <div class="edit-profile-container">
      <div class="user-nickname"><%= @current_user.nickname %></div>
      <div class="edit-profile" style="margin: 15px 0">Edit profile</div>
    </div>

    <div class="user_follows list", style="margin-top: 150px;">
      <% if @current_user.user_follows.any? %>
        <ul>
          <header>Following</header>
            <div class="follows-container">
              <% @current_user.user_follows.each do |user_follow| %>
                <li id="list" class="users"><%= user_follow.following.nickname %>

                <%= link_to unfollow_follows_path(following_id: user_follow.following.id), data: {turbo_method: :get } do %>
                  <span class="unfollow"><%= image_tag 'https://res.cloudinary.com/hzodm3yak/image/upload/v1678982423/unfollow_rptslf.svg', width: '25px', height: '27px' %></span>
                <% end %>
                </li>
              <% end %>
            </div>
        </ul>
      <% else %>
        <p style="color: white; text-align: center">No follows</p>
      <% end %>
    </div>
  </div> 
  </body>
</html>