<%= stylesheet_link_tag "application", media: "all" %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
     <style>

        
    </style>
  </head>

  <body class="index">
    <section class="form-feed">
      <p id="notice"><%= flash[:notice] %></p>
      <div class="form-post">
        <header>Create Post</header>
        <%= form_with url: posts_url do |f| %>
          <%= f.file_field :image %><br>
          <%= f.text_field :comment, placeholder: "Write a caption..." %><br>
          <%= f.submit "Create"%>
        <% end %>
      </div>

      <div class="feed">
        <%#= @feed_posts.each do |feed_post| %>
        <!--      <tr>-->
        <!--        <td><%#= image_tag(feed_post.image.url) %></td>-->
        <!--      </tr>-->
        <%# end %>
      </div>
  </body>
</html>